.cart-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  &__img {
    width: 30%;
    margin-right: 1rem;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    &__name {
    }
    &__price {
    }
  }
}
