.cart-icon {
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__svg {
    fill: rgba($color: #000000, $alpha: 0.4);
    width: 100%;
    height: 100%;
  }

  &__count {
    font-weight: bold;
    position: absolute;
    color: black;
  }
}
