.cart-dropdown {
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 5;
  background-color: white;
  height: 34rem;
  width: 24rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: var(--border-black);
  cursor: auto;

  &__items {
    height: 24rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  &__button {
    width: 80%;
  }
}
