.collection-item {
    width: 100%;
    height: 35rem;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    &__image {
        height: 95%;
        width: 100%;
        @include bgimg;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 2rem;
    }
    &__name,
    &__price {
        color: var(--color-grey-dark-3);
        font-weight: bold;
    }
}
