.form {
    width: 100%;
    max-width: 40rem;
    display: grid;

    grid-template-columns: 100%;
    grid-row-gap: 2rem;

    &__title {
        font-size: 3rem;
    }
    &__desp {
        font-size: 2rem;
    }
}
