*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    //font setting
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(max-bp1) {
        font-size: 50%; //1rem=8px
    }
}
