//Responsive Design
$bp1: 75em; //1200px
$bp2: 62.5em; //1100px
$bp3: 50em; //800px
$bp4: 37.5em; //600px

@mixin respond($breakpoint) {
  @if $breakpoint == max-bp1 {
    @media only screen and (max-width: $bp1) {
      @content;
    }
  }

  @if $breakpoint == max-bp2 {
    @media only screen and (max-width: $bp2) {
      @content;
    }
  }

  @if $breakpoint == max-bp3 {
    @media only screen and (max-width: $bp3) {
      @content;
    }
  }

  @if $breakpoint == max-bp4 {
    @media only screen and (max-width: $bp4) {
      @content;
    }
  }
}

//full background image
@mixin bgimg-full {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
}
